body{
    background-color: #000000;
    background-image: url(packages/background.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;


    padding: 0;
    margin: 0;
}

@font-face{
    font-family: 'GrapeSoda';
    src: url(packages/fonts/GrapeSoda.ttf);
}

@font-face {
    font-family: 'OwreKynge';
    src: url(packages/fonts/OwreKynge.ttf);
}

.header{
    background-color: blueviolet;
    width: 100%;
    height: 5vh;
    min-width: 100vh;
}

.all{
    background-color: transparent;

    display: grid;
    grid-template-columns: 16% 65% 16%;

    justify-content: space-between;


    width: 90%;
    height: 90%;

    margin: 5vh auto;
}

.left{

    /* background-color: pink; */
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 150vh;

    margin: auto;
}

.center{
    background-color: #000000af;

    width: 100%;
    height: 150vh;
    margin: auto;
}

.right{

    /* background-color: pink; */

    width: 100%;
    height: 150vh;

    margin: auto;
}

.last-update{
    /*background-color: blue;*/
    display: grid;
    grid-template-rows: 10% 90%;
    float: right;

    border: 2px dashed #fff;
    
    margin: 5vh auto;

    width: 90%;
    height: 40vh;
}

.title-update{
    background-color: burlywood;
    display: flex;

    margin: auto;
    width: 100%;
    height: 100%;
}

.list-update{
    background-color:lawngreen ;
    display: flexbox;

    overflow-y: scroll;
    
    /*unicode-bidi: isolate; */
    
    margin: auto;
    width: 90%;
    height: 90%;
}

.list-update::-webkit-scrollbar{
    width: 10px;
    background-color: red;
}

.list-update::-webkit-scrollbar-button{
    background-color:coral;
    height: 0;
}

.list-update::-webkit-scrollbar-thumb{
    background-color: violet;
}

.up-update{
    background-color:royalblue ;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100% 40% 40%;

    margin: 2% 0;
    width: 100%;
    height: 15%;
}

.icon-update{
    background-color: aquamarine;

    width: 100%;
    height: 100%;
}

.data-update{
    background-color: darkkhaki;

    width: 100%;
    height: 100%;
}

.gif01{
    background-image: url(packages/gifs/gif01.gif);
    background-size: cover;
    image-rendering: pixelated;

    margin: 0 auto;
    display: flex;

    
    width: 20vh;
    height: 20vh;
}

.outleft{
    display:grid;
    grid-row: 30% 20% 50%;
    margin: 4vh 0;
    float: right;
    padding: 4px;

    border: 2px dashed #fff;
    /* background-color: tomato; */
    width: 85%;
    height: 80vh;
}

.outright{
    display: flexbox;
    float: left;
    margin: 15vh 0 0 0;

    background-color:hotpink;
    width: 30vh;
    height: 128vh; 
}

/**/

.wrapper{
    display: grid 5vh 20vh 4vh 5vh;
    width: 30vh;
    height: 40vh;
    background-color:coral;

  }
  
  .details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  }

  .slider_containertop{
    background-color: #9a1d86;
    display: grid;
    grid-template-columns: 5vh 35vh;

    height: 5vh;
    width: 30vh;
  }

  .slider_containertop input{
    margin: auto 0;
    width: 70%;
    display: flex;
    float: right;
  }

  .iconvolume{
    display: flex;

    margin: 1vh;
    width: 3vh;
    height: 3vh;
    background-image: url(packages/audioicon.png);
    background-size: cover;
    image-rendering: pixelated;
  }
  
  .track-art {

  width: 20vh;
  height: 20vh;
  border:2px solid 	#FFFAFA;
  background-size: cover;
  background-position: center;
  }
  

  
  .track-name {
    background-color: blueviolet;
  font-size: 1rem;
  }
  


  /**/
  .buttons{
    background-color: #e09627;
    display: flex;
    justify-content: space-around;
    width: 30vh;
    height: 10vh;

}

.buttons div{
    background-color: transparent;
    margin: auto;
    width: 5vh;
    height: 5vh;
}

.prev-track img{
    background-image: url(packages/previcon.png);
    background-size: cover;
    image-rendering: pixelated;
    width: 100%;
    height: 100%;
}

.pause{
    background-image: url(packages/pauseicon.png);
    background-size: cover;
    image-rendering: pixelated;
    width: 100%;
    height: 100%;
}

.play{
  background-image: url(packages/playicon.png);
  background-size: cover;
  image-rendering: pixelated;
  width: 100%;
  height: 100%;
}

.next-track img{
    background-image: url(packages/nexticon.png);
    background-size: cover;
    image-rendering: pixelated;
    width: 100%;
    height: 100%;
}
  /**/
  
  
  .slider_container {
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .seek_slider, .volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: blue;

  }
  
  .seek_slider::-webkit-slider-thumb,
  .volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(packages/gifphotoback.gif);
  background-size: cover;
  image-rendering: pixelated;
  width: 15px;
  height: 15px;

  cursor: grab;

  }
  
  .seek_slider {
  width: 60%;
  }
  
  .volume_slider {
  width: 80%;
  }



/**/



.music-list{
    background-color:darkcyan;
    display: grid;

    width: 100%;
    height: 60vh;
}

.music-roll{
    background-color:goldenrod;
    display: grid;

    width: 100%;
    height: 35vh;
}

.chat{

    margin: 0;

    background-color:chartreuse;
    width: 100%;
    height: 20vh;
}

.top{
    display: flexbox;
    float:none;

    background-color: red;
    width: 100%;
    height: 10%;
}

.bottom{
    /*background-color:crimson;*/
    display: grid;
    grid-template-columns: 30% 70%;

    margin: 2vh 0 0 0;
    width: 100%;
    height: 100%;
}

.visdiv02{
    /*background-color:fuchsia;*/
    background-image: url(packages/visdiv02.png);
    background-repeat:repeat-x;
    background-size:contain;

    display: flex;
    float: none;

    width: 100%;
    height: 4vh;

    margin-top: 2vh;
}

.footer{
    background-color:#000;
    display: flex;
    float: none;

    width: 100%;
    height: 20%;

    margin-bottom: 5vh;
}

.profile{
    /*background-color: #011826;*/
    border: dashed #fff 2px;

    display: flex;
    float:left;

    margin: auto;
    width: 95%;
    height: 100%;
}

.bio{
    background-color: darkorange;
    display: flex;
    grid-column: 3;

    margin: 0 auto;
    margin-top: 10%;
    width: 90%;
    height: 140%;
}

.socialmedia{

    margin: 0 auto;
    margin-top: 5%;
    width: 90%;
    height: 30vh;
}

.social-instagram{
    background-color: pink;
    display: flex;

    width: 100%;
    height:20%

}

#sociallink a{

    background-size: cover;
    image-rendering:pixelated;
    display: flex;
    border: none;

    margin: auto 2vh;
    width: 4vh;
    height: 4vh;
}

.social-instagram{
    background: linear-gradient(180deg, rgb(255, 43, 15) 0%, rgb(255, 23, 92) 45%, rgb(138, 0, 119) 47%, rgb(133, 0, 138) 60%, rgb(84, 0, 153) 100%);

    border: dashed 2px rgb(255, 255, 255);
}

.social-instagram:hover{
    filter:brightness(1.5);
    transition: 0.5s;
}

.social-instagram:active{
    box-shadow: rgba(15, 15, 29, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.61) 0px 18px 36px -18px inset;
}

.social-instagram a{
    background-image: url(packages/InstagramIcon.png);

}

.social-steam{
    background: linear-gradient(180deg, #0B5B8E 0%, #002b6b 45%, rgb(14, 23, 44) 47%, #06152D 60%, rgb(0, 10, 43) 100%);

    border: dashed 2px rgb(255, 255, 255);
}

.social-steam:hover{
    filter:brightness(1.5);
    transition: 0.5s;
}

.social-steam:active{
    box-shadow: rgba(15, 15, 29, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.61) 0px 18px 36px -18px inset;
}

.social-steam a{
    background-image: url(packages/SteamIcon.png);
}

.social-github{
    background: linear-gradient(180deg, #1a1f22 0%, #0b1016 45%, rgb(0, 0, 0) 47%, #080a0c 60%, rgb(0, 1, 3) 100%);

    border: dashed 2px rgb(255, 255, 255);
}

.social-github:hover{
    filter:brightness(1.5);
    transition: 0.5s;
}

.social-github:active{
    box-shadow: rgba(15, 15, 29, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.61) 0px 18px 36px -18px inset;
}

.social-github a{
    background-image: url(packages/GithubIcon.png);
}

.social-spotify{
    background: linear-gradient(180deg, #00b941 0%, #006b3e 45%, rgb(6, 56, 29) 47%, #004117 60%, rgb(0, 43, 27) 100%);

    border: dashed 2px rgb(255, 255, 255);
}

.social-spotify:hover{
    filter:brightness(1.5);
    transition: 0.5s;
}

.social-spotify:active{
    box-shadow: rgba(15, 15, 29, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.61) 0px 18px 36px -18px inset;
}

.social-spotify a{
    background-image: url(packages/SpotifyIcon.png)
}

.social-neocities{
    background: linear-gradient(180deg, #c98b2e 0%, #ce551e 45%, rgb(189, 43, 38) 47%, #d42525 60%, rgb(216, 35, 22) 100%);

    border: dashed 2px rgb(255, 255, 255);
}

.social-neocities:hover{
    filter:brightness(1.5);
    transition: 0.5s;
}

.social-neocities:active{
    box-shadow: rgba(15, 15, 29, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.61) 0px 18px 36px -18px inset;
}

.social-neocities a{
    background-image: url(packages/NeocitiesIcon.png);
}

#sociallink p{
    color: #ffffff;
    display: flex;
    margin: auto;

    font-family: 'GrapeSoda';
    font-size: 180%;
}


.social-steam{
    background-color:royalblue;
    display: flex;

    width: 100%;
    height:20%


}

.social-github{
    background-color:teal;
    display: flex;

    width: 100%;
    height:20%

}

.social-spotify{
    background-color:lawngreen;
    display: flex;

    width: 100%;
    height:20%

}

.social-neocities{
    background-color: yellow;
    display: flex;

    width: 100%;
    height:20%

}

.backimg{
    background-color: blue;
    background-image: url(packages/photoback.jpeg);
    background-size: cover;
    background-position: center;

    margin: 1vh;
    width: 100%;
    height: 30%;
}

.framephoto{
    background-image: url(packages/gifphotoback.gif);
    background-size: 110%;
    background-position: center;

    display: flex;
    width: 25vh;
    height: 25vh;
    margin: auto;
    margin-top: 60%;

}

.photo{
    background-color:mediumslateblue; 

    margin: auto;
    width: 80%;
    height: 80%;

}

.hall{
    /*background-color:darkmagenta;*/
    display: grid;
    grid-template-rows: 5% 95%;

    width: 100%;
    height: 100%;
}

.corpo{
    /*background-color:chocolate;*/
    border: dashed #fff 2px;
    
    display: grid;
    grid-template-rows: 70% 2vh 30%;

    float: right;
    
    padding: 1vh;

    margin: 0 auto;
    width: 95%;
    height: 99%;
}

.home{
    background-color: chartreuse;
    border: none;

    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.visdiv01{
    background-image: url(packages/gifs/visdiv01.gif);
    background-repeat: repeat-x;
    width: 100%;
    height: 100%;
}

.subhome{
    background-color: midnightblue;

    margin: auto;
    width: 100%;
    height: 90%;
}

.buttonsiframe{
    /*background-color:mediumseagreen;*/

    display: flex;
    float: right;

    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 100%;
}

.buttonsiframe button{
    /*background-color:blueviolet;*/

    border:none;

    border-radius: 4px;
    background: linear-gradient(180deg, rgb(17, 17, 17) 0%, rgb(65, 65, 65) 45%, rgb(46, 46, 46) 47%, rgb(0, 0, 0) 100%);
    padding-left: 5px;
    border: solid 2px gray;
    filter: drop-shadow(0 0.5px 0 gray) drop-shadow(0 0.5px 0 gray) drop-shadow(0 0.5px 0.5px gray) drop-shadow(0.5px 0.5px 1px gray) drop-shadow(-0.5px 0.5px 0 black) drop-shadow(0 0.5px 0 black) drop-shadow(0 0.5px 0 black);

    width: 19%;
    height: 80%;

    color: #fff;
    font-family: 'OwreKynge';
    font-size: 3vh;
}


@media screen and (max-width: 960px){
    .all{
        display: grid;
        grid-template-columns: 1fr 1fr; /*duas colunas iguais*/
        grid-template-rows:auto auto ;
    }

    .footer{
        display: none;
    }

    .last-update{
        display: none;
    }

    .center{
        grid-column: 1 / span 2; /*ocupando as duas colunas*/
        justify-self: center;
        width: 100%;
    }

    .left, .right{
        display: block;
        margin: 0;
        width: 50%;
        height: 80vh;
        order: 2;
    }

    .left{
        grid-column: 1;

        width: 100%;

    }

    .right{
        grid-column: 2;

        width: 100%;

    }

    .outleft, .outright{
        width: 100%;
        height: 100%;
        margin: 0;
    }

}